@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary:#F2BA4D;
    --smokey-white:#f5f5f5;
    --light-grey:#797979;
    --dark-grey:#515054;
    text-transform: capitalize;
    background-color: var(--dark-grey);
}




input,textarea,select {
    outline: 0;
    border:0;
}

::-webkit-scrollbar {
    background-color: var(--smokey-white);
    width: 7px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 9999px;
}

.scrollbar-hidden::-webkit-scrollbar {
    width: 0;
}